*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}


body{
    background: #EAEBEF;
}


.wrapper, .buttonWrapper{
    margin: 80px auto;
    display: flex;
    justify-content: center;
}

.wrapper .search-input{
    position: relative;
    background: #fff;
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
    display: none;
}

.search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input .icon{
    height: 55px;
    width: 55px;
    line-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: #2D54C6;
    cursor: pointer;
}

.search-input .autocom-box{
    background: #fff;
    position: absolute;
    width: 100%;
    padding: 0px;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
    top: 60px;
    border-radius: 5px;
    z-index: 100;
}

.search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}


.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
}

.search-input.active .autocom-box li{
    display: block;
}

.autocom-box li:hover{
    background: #efefef;
}

.buttonWrapper a{
    display: block;
    width: 50%;
    background: #2D54C6;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    color: #efefef;
    transition: .1s;
    border-radius: 5px;
}

.buttonWrapper a:hover{
    background: #2d53c6dd;
}

main{
    display: flex;
    justify-content: center;
}

.penButton{
    text-align: center;
    margin: 0px 15px;
    color: #2D54C6;
}
.penButton i{
    margin: 0 20px 0 0;
}
.penButton i:hover{
    color: #2d53c6a9;
    cursor: pointer;
}