{% extends 'base.html' %}

{% block idbody %}bg-gradient-primary{% endblock %}


{% block title %}
 Добавление клиента 
{% endblock %}

        {% block content %}

   <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Добавление клиента</h1>

                </div>
                <!-- /.container-fluid -->

           
            

    </div>
    {% endblock %}

  

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    