{% extends 'base.html' %}

{% block idbody %}bg-gradient-primary{% endblock %}


    {% block title %}
Управление лекарство 
{% endblock %}





{% block content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Управление лекарство</h1>
                    <!-- DataTales Example -->
                    <body>
                        <header class="row">
                            <div class="wrapper col-md-3">
                                <div class="search-input">
                                    <input type="text" placeholder="Type to search..">
                                    <div class="autocom-box"></div>
                                    <div class="icon" onclick="inputClear()">
                                        <i class="fas fa-times"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="buttonWrapper col-md-3">
                                <a href="#">Добавить</a>
                            </div>
                        </header>
                        <main class="row">
                            
                            <table class="table table-striped col-sm-12 myDataTable">
                                <thead class="table-dark">
                                  <tr>
                                    <th scope="col">Штрихкод</th>
                                    <th scope="col">Название</th>
                                    <th scope="col">Ед. Измерения</th>
                                    <th scope="col">Срок годности</th>
                                    <th scope="col">Покупочная цена</th>
                                    <th scope="col">Цена продажи</th>
                                    <th scope="col">Остаток</th>
                                    <th scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for i in data %}
                                <tr>
                                    <th scope="row">{{i.id}}</th>
                                    <td>{{i.name}}</td>
                                    <td>{{i.barcode}}</td>
                                    <td></td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>
                                        <div class="penButton">
                                            <i class="fas fa-info"></i>
                                            <i class="fas fa-pen"></i>
                                        </div>
                                    </td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                        </main>
                
                </div>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="{{ url_for('static', filename='js/suggestions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
                {% endblock %}